<div class="container bg-light mt-5">

    <div class="row">
		<div class="d-flex">
			<div class="flex-grow-1 m-auto">
					<h5>Solicitud:</h5>
			</div>
			<div class="p-1 text-end m-auto">
				<div class="dropdown">
					<select class="btn btn-success" onchange="actualizarEstadoSPC(this.value)">
						<option selected hidden>{{estado}}</option>
						{{#each estados}}
							<option>{{this.nombre}}</options>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="p-1 text-end">
				<button type="button" class="btn btn-warning" onclick="habilitarEdicion()">Editar</button>
			</div>
			<div class="p-1 text-end">
				<button type="button" class="btn btn-danger" onclick="eliminarSPC()">Eliminar</button>
			</div>
			<div class="p-1 text-end">
				<a type="button" class="btn" href="/dashboard">X</a>
			</div>
		</div>
		<hr>
	</div>

    <div class="row">
        <div class="col-12">

            <form id="{{id_spc}}">
				<fieldset disabled="disabled">
					<h5>Cliente:</h5>
					<div class="row">

						<div class="col-12">

						</div class="row">
						<div class="col-6">
							<div class="col-12">
								Rut:
							</div>
							<div class="input-group mb-3">
								<input type="text" name="rut_cliente" oninput="checkRut(this)" class="form-control" value="{{id_cliente}}" disabled >
							</div> 
						</div>
						<div class="col-6">

							<div class="col-12">Sexo:</div>
							<select class="form-select m-auto" name="sexo_cliente">
								<option selected hidden>{{sexo_cliente}}</option>
								{{#each @root.sexos}}
								<option value="{{this.nombre}}">{{this.nombre}}</option>
								{{/each}}
							</select>
						</div>
						</div>

					<div class="row">
						<div class="col-6 ">
							<div class="col-12">Nombre:</div>
							<div class="col-12 m-auto">
								<input type="text" name="nombre_cliente" value="{{nombre_cliente}}" class="form-control" required />
							</div>
						</div>
						<div class="col-6 ">
							<div class="col-12">Apellido:</div>
							<div class="col-12 m-auto">
								<input type="text" name="apellido_cliente" value="{{apellido_cliente}}" class="form-control" required />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6 ">
							<div class="col-12">e-Mail:</div>
							<div class="col-12 m-auto">
								<input type="email" name="email_cliente" value="{{email_cliente}}" class="form-control" required />
							</div>
						</div>
						<div class="col-6 ">
							<div class="col-12">Teléfono:</div>
							<div class="col-12 m-auto">
								<input type="tel" name="telefono_cliente" placeholder="56961858671" pattern="[0-9]{2}[0-9]{1}[0-9]{4}[0-9]{4}" value="{{telefono_cliente}}" class="form-control" required />
							</div>
						</div>
					</div>

					<hr>

					<h5>Producto:</h5>

						<div class="row">
						<div class="col-4 ">
							<div class="col-12">Disciplina:</div>
								<div class="col-12">
								<select class="form-select" name="disciplina_producto" required >
									<option selected hidden>{{disciplina_producto}}</option>
									{{#each @root.disciplinas}}
									<option value="{{this.nombre}}">{{this.nombre}}</option>
									{{/each}}
								</select>
								</div>
							</div>
						<div class="col-4 ">
							<div class="col-12">Marca:</div>
								<div class="col-12 m-auto">
								<select class="form-select" name="marca_producto" required >
									<option selected hidden>{{marca_producto}}</option>
									{{#each @root.marcas}}
									<option value="{{this.nombre}}">{{this.nombre}}</option>
									{{/each}}
								</select>
								</div>
							</div>
						<div class="col-4 ">
							<div class="col-12">Sexo:</div>
								<div class="col-12 m-auto">
								<select class="form-select" name="sexo_producto" required >
									<option selected hidden>{{sexo_producto}}</option>
									{{#each @root.sexos}}
									<option value="{{this.nombre}}">{{this.nombre}}</option>
									{{/each}}
								</select>
								</div>
							</div>
						</div>

						<div class="row">
						<div class="col-4 ">
							<div class="col-12">Componentes:</div>
								<div class="col-12 m-auto">
								<select class="form-select" name="componente_1_producto" required >
									<option selected hidden>{{componente_1_producto}}</option>
									{{#each @root.componentes}}
									<option value="{{this.nombre}}">{{this.nombre}}</option>
									{{/each}}
								</select>
								</div>
							</div>
						<div class="col-4 ">
							<div class="col-12">Material:</div>
								<div class="col-12 m-auto">
								<select class="form-select" name="material_1_producto" required >
									<option selected hidden>{{material_1_producto}}</option>
									{{#each @root.materiales}}
									<option value="{{this.nombre}}">{{this.nombre}}</option>
									{{/each}}
								</select>
								</div>
							</div>
						<div class="col-4 ">
							<div class="col-12">Talla:</div>
								<div class="col-12 m-auto">
								<select class="form-select" name="talla_producto">
									<option selected hidden>{{talla_producto}}</option>
									{{#each @root.tallas}}
									<option value="{{this.nombre}}">{{this.nombre}}</option>
									{{/each}}
								</select>
								</div>
							</div>
						</div>

					<hr>

					<h5>Presupuesto:</h5>

						<div class="row">
						<div class="col-6 ">
							<div class="col-12">Minimo:</div>
								<div class="col-12 m-auto input-group">
								<span class="input-group-text">$</span>
									<input type="number" name="presupuesto_min_reserva" min="0" placeholder="0" value="{{presupuesto_min}}" class="form-control" required />
							</div>                 
						</div> 
						<div class="col-6 ">
							<div class="col-12">Máximo:</div>
								<div class="col-12 m-auto input-group">
								<span class="input-group-text">$</span>
									<input type="number" name="presupuesto_max_reserva" min="0" placeholder="0" value="{{presupuesto_max}}" class="form-control" required />
							</div>                    
						</div> 
						</div>

						<div class="row">
						<div class="col-12">
							<div class="col-12">
								Comentarios:
							</div>
							<div class="col-12 m-auto">
							<textarea type="text" name="comentarios_reserva" class="form-control" />{{comentario_spc}}</textarea>
							</div>
						</div>
						</div>

						<div class="my-2 text-end">
							<button type="submit" class="btn btn-primary">Actualizar</button>
						</div>

				</fieldset>
			</form>  

        </div>
    </div>
</div>

<script>

	function habilitarEdicion() {
		console.log("--------- HABLITAR EDICION ---------");
		let fieldsetSPC = document.getElementsByTagName("fieldset")[0];
		fieldsetSPC.disabled ? fieldsetSPC.disabled = false : fieldsetSPC.disabled = true;

	}

	function actualizarEstadoSPC(value){
		//console.log("--------- DATA ACTUALIZAR ESTADO SPC ---------");
		const url = "/actualizarEstado"
		const data = {
			id_spc: "{{id_spc}}",
			nuevoEstado: value
		}

		fetch(url, {
			method: 'PUT',
			body: JSON.stringify({data}),
			headers: {
				'Content-Type': 'application/json'
			}
		}).then(res => res.json(
				window.location.href = "/dashboard"
			))
			.catch(error => console.error('Error:', error))

		//console.log("--------- FIN DATA ACTUALIZAR ESTADO SPC ---------");
	}

	function eliminarSPC(){
		//console.log("--------- DATA ELIMINAR SPC ---------");
		const url = "/eliminarSPC"
		const data = {
			id_spc: "{{id_spc}}"
		}

		fetch(url, {
			method: 'DELETE',
			body: JSON.stringify({data}),
			headers: {
				'Content-Type': 'application/json'
			}
		}).then(res => res.json(
				window.location.href = "/dashboard"
			))
			.catch(error => console.error('Error:', error))

		//console.log("--------- FIN DATA ELIMINAR SPC ---------");
	}

	const form = document.getElementById("{{id_spc}}");

	form.addEventListener('submit', (e) => {
		e.preventDefault();
		const formData = new FormData(form);
		const data = {id_producto: "{{id_producto}}"};
		
		formData.forEach((value, key) => {
			data[key] = value;
			console.log("-------------")
		});

		const url = "/actualizarSPC/{{id_spc}}";

		fetch(url, {
			method: 'PUT',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json'
			}
		})
			.then(res => {
				if(res.status === 200){
					console.log("--------- ACTUALIZADO SPC ---------");
					window.location.href = "/dashboard";
				} else {
					alert("Error al actualizar SPC");
					console.log("--------- ERROR ACTUALIZAR SPC ---------");
				}
			})

	})


</script>