<h1 class="text-center">Solicitudes Pedidos de Compra</h1>

{{> BtnNuevaSPC}}

<table class="table table-success table-striped align-middle">
    <thead>
        <tr>
            <th scope="col">Disciplina</th>
            <th scope="col">Talla</th>
            <th scope="col">Material</th>
            <th scope="col">Presupuesto</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        {{#each reserva}}
        <tr>
            <td>{{disciplina_producto}}</td>
            <td>{{talla_producto}}</td>
            <td>{{material_1_producto}}</td>
            <td>{{presupuesto_min}} - {{presupuesto_max}}</td>
            <td>{{estado_spc}}</td>
            <td>
                <div class="text-end">
                    <a type="button" class="btn btn-primary" href="/detalle-spc/{{id_spc}}">
                        Abrir
                    </a>

                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>