<h1 class="text-center">Solicitudes Pedidos de Compra</h1>

{{> BtnNuevaSPC}}

<table class="table table-success table-striped align-middle">
    <thead>
        <tr>
            <th scope="col">Disciplina</th>
            <th scope="col">Talla</th>
            <th scope="col">Material</th>
            <th scope="col">Presupuesto</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        {{#each reserva}}
        <tr>
            <td>{{disciplina_producto}}</td>
            <td>{{talla_producto}}</td>
            <td>{{material_1_producto}}</td>
            <td>{{presupuesto_min}} - {{presupuesto_max}}</td>
            <td>{{estado_spc}}</td>
            <td>
                <div class="text-end">
                    <a type="button" class="btn btn-primary" href="/detalle-spc/{{id_spc}}">
                        Abrir
                    </a>
                    {{> FormularioEditarSPC}}   
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- {
id_spc: 'd96de637-a883-4334-96f2-80242ecf18c3',
presupuesto_max: 2000000,
presupuesto_min: 1000000,
comentario: 'Antes del 16 del 11',
estado_spc: 'Pendiente',
id_cliente: '11122333-4',
nombre_cliente: ' Lourdes',
apellido_cliente: 'Agua',
telefono_cliente: '99548763855',
email_cliente: 'alugua@email.com',
disciplina_producto: 'Cross Country',
talla_producto: 'S',
material_1_producto: 'Carbono',
sexo_cliente: 'Mujer',
producto: '0665a339-7a33-4a0f-9517-4317a0e623b2',
sexo_producto: 'Mujer',
marca_producto: 'Liv',
componente_1_producto: 'Magura'
} --}}

{{!-- {
sexos: [
{ nombre: 'Cualquiera' },
{ nombre: 'Hombre' },
{ nombre: 'Mujer' }
],
disciplinas: [
{ nombre: 'Ruta' },
{ nombre: 'MTB' },
{ nombre: 'Gravel' },
{ nombre: 'Downhill' },
{ nombre: 'Enduro' },
{ nombre: 'Cross Country' }
],
marcas: [
{ nombre: 'Cualquiera' },
{ nombre: 'CUBE' },
{ nombre: 'Giant' },
{ nombre: 'Scott' },
{ nombre: 'Liv' }
],
componentes: [
{ nombre: 'Cualquiera' },
{ nombre: 'Sram' },
{ nombre: 'Shimano' },
{ nombre: 'Magura' },
{ nombre: 'Syncross' },
{ nombre: 'ACID' },
{ nombre: 'RFR' }
],
materiales: [
{ nombre: 'Aluminio' },
{ nombre: 'Carbono' },
{ nombre: 'Cualquiera' }
],
tallas: [
{ nombre: 'XS' }, { nombre: 'S' },
{ nombre: 'M' }, { nombre: 'L' },
{ nombre: 'XL' }, { nombre: 'XXL' },
{ nombre: '48' }, { nombre: '50' },
{ nombre: '52' }, { nombre: '53' },
{ nombre: '54' }, { nombre: '56' },
{ nombre: '58' }, { nombre: '60' }
],
estados: [
{ nombre: 'Abierto' },
{ nombre: 'Cancelado' },
{ nombre: 'Pendiente' },
{ nombre: 'Vendido' }
]
} --}}